absl-py==2.1.0
aiohttp 
aiosignal 
asttokens 
async-timeout 
attrs 
biopython 
blessed==1.20.0
Brotli 
cattrs==23.2.3
certifi 
chardet 
charset-normalizer 
colorama 
comm 
contourpy 
cycler 
debugpy 
decorator
et-xmlfile 
exceptiongroup 
executing 
fonttools 
freetype-py 
frozenlist 
fsspec 
gpustat==1.1.1
greenlet 
grpcio==1.62.1
idna 
importlib-metadata 
ipykernel 
ipython 
jedi 
Jinja2 
joblib 
jupyter_client 
jupyter_core 
kiwisolver
Markdown==3.6
MarkupSafe 
matplotlib 
matplotlib-inline 
meeko 
multidict 
munkres==1.1.4
networkx==3.2.1
numpy 
nvidia-ml-py==12.550.52
openpyxl 
packaging 
pandas 
parso 
pexpect 
pickleshare 
pillow 
platformdirs 
ply==3.11
prompt-toolkit
psutil 
ptyprocess
pycairo==1.26.0
Pygments 
pyparsing
PyQt5-sip 
PySocks 
python-dateutil 
pytz 
pyzmq 
rdkit 
reportlab 
requests 
requests-cache==1.2.0
rlPyCairo 
scikit-learn 
scipy 
sip 
six 
SQLAlchemy
tensorboard==2.16.2
threadpoolctl 
toml 
tomli
tornado 
tqdm 
traitlets 
typing_extensions 
tzdata 
unicodedata2 
url-normalize==1.4.3
urllib3 
wcwidth 
Werkzeug==3.0.2
yarl 
zipp 
